
@{
    Layout = null;
}


@{
	Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
	<title>GAT | Satıcı Kayıt Ol</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="~/Login/images/icons/favicon.ico" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/Login/vendor/bootstrap/css/bootstrap.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/Login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/Login/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/Login/vendor/animate/animate.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/Login/vendor/css-hamburgers/hamburgers.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/Login/vendor/animsition/css/animsition.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/Login/vendor/select2/select2.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/Login/vendor/daterangepicker/daterangepicker.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/Login/css/util.css">
	<link rel="stylesheet" type="text/css" href="~/Login/css/main.css">
	<!--===============================================================================================-->
</head>
<body style="background-color: #666666;">

	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form asp-controller="Login" asp-action="SellerRegister" method="post" class="login100-form validate-form" style="margin-top:20px;">
					<span class="login100-form-title p-b-43">
						GAT Satıcısı Olmak için Kayıt Olunuz
					</span>


					<div class="wrap-input100 validate-input">
						<input class="input100" type="text" name="UserName">
						<span class="focus-input100"></span>
						<span class="label-input100">Ad</span>
					</div>

					<div class="wrap-input100 validate-input">
						<input class="input100" type="text" name="UserSurname">
						<span class="focus-input100"></span>
						<span class="label-input100">Soyad</span>
					</div>

					<div class="wrap-input100 validate-input">
						<input class="input100" type="text" name="Mail">
						<span class="focus-input100"></span>
						<span class="label-input100">Mail</span>
					</div>

					<div class="wrap-input100 validate-input">
						<input class="input100" type="text" name="WalletAdress">
						<span class="focus-input100"></span>
						<span class="label-input100">Cüzdan Adres</span>
					</div>

					<div class="wrap-input100 validate-input">
						<input class="input100" type="text" name="PrivateKey">
						<span class="focus-input100"></span>
						<span class="label-input100">Cüzdan Anahtar Adresi</span>
					</div>

					<div class="wrap-input100 validate-input">
						<input class="input100" type="text" name="TelNo">
						<span class="focus-input100"></span>
						<span class="label-input100">Tel No</span>
					</div>

					<div class="wrap-input100 validate-input">
						<input class="input100" type="text" name="Gender">
						<span class="focus-input100"></span>
						<span class="label-input100">Cinsiyet</span>
					</div>


					<div class="wrap-input100 validate-input" data-validate="Password is required">
						<input class="input100" type="password" name="Password">
						<span class="focus-input100"></span>
						<span class="label-input100">Şifre</span>
					</div>

					<div class="flex-sb-m w-full p-t-3 p-b-32">
						<div class="contact100-form-checkbox">
							<input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
							<label class="label-checkbox100" for="ckb1">
								Beni Hatırla
							</label>
						</div>

						<div>
							<a href="/Login/SellerLogin/" class="txt1">
								Giriş Yap!
							</a>
						</div>
					</div>


					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Kayıt Ol
						</button>
					</div>

					<div class="text-center p-t-46 p-b-20">
						<span class="txt2">
							or sign up using
						</span>
					</div>

					<div class="login100-form-social flex-c-m">
						<a href="#" class="login100-form-social-item flex-c-m bg1 m-r-5">
							<i class="fa fa-facebook-f" aria-hidden="true"></i>
						</a>

						<a href="#" class="login100-form-social-item flex-c-m bg2 m-r-5">
							<i class="fa fa-twitter" aria-hidden="true"></i>
						</a>
					</div>
				</form>

				<div class="login100-more" style="background-image: url('/Login/images/b44.jpg');">
				</div>
			</div>
		</div>
	</div>





	<!--===============================================================================================-->
	<script src="~/Login/vendor/jquery/jquery-3.2.1.min.js"></script>
	<!--===============================================================================================-->
	<script src="~/Login/vendor/animsition/js/animsition.min.js"></script>
	<!--===============================================================================================-->
	<script src="~/Login/vendor/bootstrap/js/popper.js"></script>
	<script src="~/Login/vendor/bootstrap/js/bootstrap.min.js"></script>
	<!--===============================================================================================-->
	<script src="~/Login/vendor/select2/select2.min.js"></script>
	<!--===============================================================================================-->
	<script src="~/Login/vendor/daterangepicker/moment.min.js"></script>
	<script src="~/Login/vendor/daterangepicker/daterangepicker.js"></script>
	<!--===============================================================================================-->
	<script src="~/Login/vendor/countdowntime/countdowntime.js"></script>
	<!--===============================================================================================-->
	<script src="js/main.js"></script>

</body>
</html>
