<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GAT | Güvenli Açık Tarım</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="~/ogani-master/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/ogani-master/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/ogani-master/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="~/ogani-master/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="~/ogani-master/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="~/ogani-master/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/ogani-master/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/ogani-master/css/style.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Humberger Begin -->
    <div class="humberger__menu__overlay"></div>
    <div class="humberger__menu__wrapper">
        <div class="humberger__menu__logo">
            <a href="#"><img src="~/ogani-master/img/b44.jpg" alt=""></a>
        </div>
        <div class="humberger__menu__cart">
            <ul>
                <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
                <li><a href="#"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
            </ul>
            <div class="header__cart__price">Bakiye: <span>29000.00tl</span></div>
        </div>
        <div class="humberger__menu__widget">
            <div class="header__top__right__language">
                <img src="~/ogani-master/img/language.png" alt="">
                <div>Türkçe</div>
                <span class="arrow_carrot-down"></span>
                <ul>
                    <li><a href="#">Türkçe</a></li>
                    <li><a href="#">İngilizce</a></li>
                </ul>
            </div>
            <div class="header__top__right__auth">
                <a href="#"><i class="nav-icon fas fa-th"></i>Satıcı Ol</a>
                <a href="#"><i class="fa fa-user"></i> Giriş Yap</a>
            </div>
        </div>
        <nav class="humberger__menu__nav mobile-menu">
            <ul>
                <li><a href="./index.html">Home</a></li>
                <li><a href="./shop-grid.html">Market</a></li>
                <li>
                    <a href="#">Sayfalar</a>
                    <ul class="header__menu__dropdown">
                        <li><a href="./shop-details.html">Market Detay</a></li>
                        <li><a href="./shoping-cart.html">Sepet</a></li>
                        <li><a href="./checkout.html">Ödeme Bilgileri</a></li>
                        <li><a href="./blog-details.html">Blog Detay</a></li>
                    </ul>
                </li>
                <li><a href="./blog.html">Blog</a></li>
                <li><a href="./contact.html">İletişim</a></li>
            </ul>
        </nav>
        <div id="mobile-menu-wrap"></div>
        <div class="header__top__right__social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-pinterest-p"></i></a>
        </div>
        <div class="humberger__menu__contact">
            <ul>
                <li><i class="fa fa-envelope"></i> gat@gmail.com</li>
                <li>Ucuz alışverişin yeri</li>
            </ul>
        </div>
    </div>
    <!-- Humberger End -->
    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="header__top__left">
                            <ul>
                                <li><i class="fa fa-envelope"></i> gat@gmail.com</li>
                                <li>Güvenli Açık Tarım</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="header__top__right">
                            <div class="header__top__right__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-pinterest-p"></i></a>
                            </div>
                            <div class="header__top__right__language">                               
                                <div>Türkçe</div>
                                <span class="arrow_carrot-down"></span>
                                <ul>
                                    <li><a href="#">Türkçe</a></li>
                                    <li><a href="#">İngilizce</a></li>
                                </ul>
                            </div>
                            <div class="header__top__right__auth" style="display: inline-flex;">
                                <a href="/Login/SellerLogin/" style="margin-right:10px;"><i class="fa fa-user"></i>Gat'da Satış Yap</a>
                                <a href="/Login/Login/"><i class="fa fa-user"></i> Giriş Yap</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo">
                        <a href="./index.html">
                            <img src="~/ogani-master/img/ysf2.png" style="max-width: 70%;" />
                           @* <img src="~/ogani-master/img/arif.png" />*@
                            @*<img src="~/ogani-master/img/gat.jpg" />*@
                            @*<img src="~/ogani-master/img/logo.png" alt="">*@
                            @*<img src="~/ogani-master/img/gatimage.jpg" /*@
                            @*<img src="~/ogani-master/img/b44.jpg" alt="" />*@
                            </a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <nav class="header__menu">
                        <ul>
                            <li><a href="/Main/Index/">Ana Sayfa</a></li>
                            <li><a href="/Shop/Index/">Ürün</a></li>
                            <li><a href="/job/Index/">İlan</a></li>
                            <li><a href="/Shop/HireList/">Kiralama</a></li>
                            @*<li><a href="/Transactions/Index/">İşlemler</a></li>*@
                            <li><a href="/Contact/Index/">İletişim</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="header__cart">
<<<<<<< HEAD
                        @*<div class="header__cart__price account" style="color: black; font-size: 14px;    font-weight: 700;    text-transform: uppercase;">
                            <i class="fas fa-key" style="margin-right: 3px;"></i>Hesabım<span></span>                            
                        </div>*@
                        <div class="header__top__right__language" style="color: black; font-size: 14px;    font-weight: 700;    text-transform: uppercase;">
                            <div><i class="fas fa-key" style="margin-right: 3px;"></i>Hesabım<span></span> </div>
                            <span class="arrow_carrot-down"></span>
                            <ul style="font-weight: initial; background: #7fad39;">
                                <li style="font-size: 12px;"><a href="/UserOperation/UserProductOperation/">İşlemlerim</a></li>
                                <li style="font-size: 12px;"><a href="/UserOperation/Index/">Bilgilerim</a></li>
                            </ul>
                        </div>
                        <ul style="margin-left: 25px; margin-right:0;">
                            <li><a href="/Shop/ShoppingCard/"><i class="fa fa-shopping-bag" style="margin-right: 3px;"></i><h5 style="display:inline-block; font-weight:700; text-transform: uppercase; font-size: 14px;">Sepetim</h5></a></li>
=======
                        <ul>
                            <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
                            <li><a href="/ShopingCard/Index/"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
>>>>>>> 0697b16a2ae9fad810f7f4667bb0e632747aa704
                        </ul>
                        
                    </div>
                </div>
            </div>
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header Section End -->
    <!-- Hero Section Begin -->
    <section class="hero hero-normal">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="hero__categories">
                        <div class="hero__categories__all">
                            <i class="fa fa-bars"></i>
                            <span>Kategoriler</span>
                        </div>
                        <ul>
                            <li><a href="#">Sebzeler</a></li>
                            <li><a href="#">Ekin Ürünleri</a></li>
                            <li><a href="#">İş İlanları</a></li>
                            <li><a href="#">Makineler</a></li>
                            <li><a href="#">Gübreler</a></li>
                            <li><a href="#">Ekin İlaçları</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="hero__search">
                        <div class="hero__search__form">
                            <form asp-action="SearchCode" asp-controller="Shop" method="post">
                                <div class="hero__search__categories">
                                    İlan Kodu  <i class="fas fa-caret-right"></i>
                                    @*<span class="arrow_carrot-down"></span>*@
                                </div>
                                <input type="text" name="code" placeholder="İlan Kodu İle Ürün Arama">
                                <button type="submit" class="site-btn">ARA</button>
                            </form>
                        </div>
                        <div class="hero__search__phone">
                            <a href="/Transactions/Index/" style="display: inline-block; padding: 10px 20px; font-size: 16px; text-align: center; text-decoration: none; background-color: #7fad39; color: white; border-radius: 5px; transition: background-color 0.3s ease;" onmouseover="this.style.backgroundColor='#7fad39'" onmouseout="this.style.backgroundColor='#7fad39'">
                                <i class="fas fa-book" style="margin-right: 5px;"></i>GAT'da Şeffaf İşlemler
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->
    @RenderBody()
    <!-- Footer Section Begin -->
    <footer class="footer spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__about__logo">
                            <a href="./index.html"><img src="~/ogani-master/img/ysf2.png" style="max-width: 70%;" alt=""></a>
                        </div>
                        <ul>
                            <li>Adres: Muğla/Türkiye</li>
                            <li>Tel: 05053578805</li>
                            <li>E-Posta: gat@gmail.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                    <div class="footer__widget">
                        <h6>Bağlantılar</h6>
                        <ul>
                            <li><a href="#">Hakkımızda</a></li>
                            <li><a href="#">Mağazamız Hakkında</a></li>
                            <li><a href="#">Güvenli Alışveriş</a></li>
                            <li><a href="#">Teslimat Bilgileri</a></li>
                            <li><a href="#">Gizlilik Politikası</a></li>
                            <li><a href="#">Site Haritamız</a></li>
                        </ul>
                        <ul>
                            <li><a href="#">Biz Kimiz</a></li>
                            <li><a href="#">Hizmetlerimiz</a></li>
                            <li><a href="#">Projeler</a></li>
                            <li><a href="#">İletişim</a></li>
                            <li><a href="#">Yenilikler</a></li>
                            <li><a href="#">Görüşleriniz</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="footer__widget">
                        <h6>Aramıza katılın</h6>
                        <p>Yenilik ve güncellemeler hakkında e-posta alın.</p>
                        <form action="#">
                            <input type="text" placeholder="Mailinizi girin">
                            <button type="submit" class="site-btn">Abonelik</button>
                        </form>
                        <div class="footer__widget__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer__copyright">
                        <div class="footer__copyright__text">
                       
                        </div>
                        <div class="footer__copyright__payment"><img src="~/ogani-master/img/payment-item.png" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->
    <!-- Js Plugins -->
    <script src="~/ogani-master/js/jquery-3.3.1.min.js"></script>
    <script src="~/ogani-master/js/bootstrap.min.js"></script>
    <script src="~/ogani-master/js/jquery.nice-select.min.js"></script>
    <script src="~/ogani-master/js/jquery-ui.min.js"></script>
    <script src="~/ogani-master/js/jquery.slicknav.js"></script>
    <script src="~/ogani-master/js/mixitup.min.js"></script>
    <script src="~/ogani-master/js/owl.carousel.min.js"></script>
    <script src="~/ogani-master/js/main.js"></script>


</body>

</html>