
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<section class="product-details spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="product__details__pic">
                    <div class="product__details__pic__item">
                        <img class="product__details__pic__item--large"
                             src="~/ogani-master/img/product/details/product-details-1.jpg" alt="">
                    </div>
                    <div class="product__details__pic__slider owl-carousel">
                        <img data-imgbigurl="~/ogani-master/img/product/details/product-details-2.jpg"
                             src="~/ogani-master/img/product/details/thumb-1.jpg" alt="">
                        <img data-imgbigurl="~/ogani-master/img/product/details/product-details-3.jpg"
                             src="~/ogani-master/img/product/details/thumb-2.jpg" alt="">
                        <img data-imgbigurl="~/ogani-master/img/product/details/product-details-5.jpg"
                             src="~/ogani-master/img/product/details/thumb-3.jpg" alt="">
                        <img data-imgbigurl="~/ogani-master/img/product/details/product-details-4.jpg"
                             src="~/ogani-master/img/product/details/thumb-4.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="product__details__text">
                    <h3>Kiralama(HireDetails) Sayfası</h3>
                    <div class="product__details__rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                        <span>(18 değerlendirme)</span>
                    </div>
                    <div class="product__details__price">$50.00</div>
                    <p>
                        Ürünlerinizi paket halinde alarak daha cüzdan dostu bir alışveriş alabilmeniz için
                        yapılan bir üründür. Bu imkanı değerlendirmenizi tavsiye ederiz.
                    </p>
                    <div class="product__details__quantity">
                        <div class="quantity">
                            <div class="pro-qty">
                                <input type="text" value="1">
                            </div>
                        </div>
                    </div>
                    <a href="#" class="primary-btn">Sepete Ekle</a>
                    <a href="#" class="heart-icon"><span class="icon_heart_alt"></span></a>
                    <ul>
                        <li><b>Stok Bilgisi</b> <span>Stokta var</span></li>
                        <li><b>Teslimat</b> <span>1 günde kargoda <samp>Bugüne özel ücretsiz teslimat</samp></span></li>
                        <li><b>Ağırlık</b> <span>0.5 kg</span></li>
                        <li>
                            <b>Paylaş</b>
                            <div class="share">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="product__details__tab">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab"
                               aria-selected="true">Tanım</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab"
                               aria-selected="false">Bilgi</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab"
                               aria-selected="false">Görüşler <span>(1)</span></a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tabs-1" role="tabpanel">
                            <div class="product__details__tab__desc">
                                <h6>Ürün Bilgileri</h6>
                                <p>
                                    Bina ve arka bahçe araç unsurundan daha önemlidir ancak sahibi için önemlidir.
                                    Çocuklar kliniğin kapısından girerler. İşkenceye uğramamak için. hadi yaşayalım
                                    İşkenceciye işkence yapmaktan şüphe edin. Bir evin ve bir arka bahçenin olması önemlidir
                                    aracın unsuru ama Tanrı'nın kalbi olsun. O zamana kadar ödevimi yapmam gerekiyor.
                                    İşkenceden şüpheleniliyor ve bu durum bir porttitor volutpat'a neden oluyor. Curabi arku dönemi,
                                    o katmanın finansmanı ve denizdeki feribot. Bu bilge bir kitle, bir vadi
                                    istemediğiniz sürece çocuklar bile. Ev ve bahçe araçtan daha önemli olmalı
                                    Ama önemli bir unsur olsun. Önce hastanenin ağzında yas tuttu
                                    ve basketbolu Care'in yataklarına koymak; Beğense de beğenmese de yazarın bir tür sorunu var
                                    ya da ullamcorper çok eğlenceli olmalı. İşkenceye uğramamak için.
                                </p>
                                <p>
                                    Bilge kitledir, vadi çocuklardan bile değildir, sadece zaruridir. Hoş geldin
                                    Acının kendisi önemlidir ve bunu danışanın eğitimi izleyecektir. Maurice kamyonları övüyor
                                    elit, eget tincidunt nibh pulvinar a. Yarın küçük ama büyük bir şey söylendi
                                    geçit Yarın kapının küçük ama büyük olacağı söylendi. Ama havayolu yatağı
                                    seviye Mauris elitlerin gururunu okşuyor, tincidunt nibh pulvinar a'ya ihtiyacı var.
                                    Bina ve avlu araç unsurundan daha önemlidir ancak sahibi için önemlidir. Ancak
                                    hava taşımacılığı Üretim ve arka bahçe araç unsurundan daha önemli olmalı
                                    ama bu Tanrı'nın bir işi olsun. Kocaman bir gülümsemeye ihtiyacı var.
                                </p>
                            </div>
                        </div>
                        <div class="tab-pane" id="tabs-2" role="tabpanel">
                            <div class="product__details__tab__desc">
                                <h6>Ürün Bilgileri</h6>
                                <p>
                                    Bina ve arka bahçe araç unsurundan daha önemlidir ancak sahibi için önemlidir.
                                    Çocuklar kliniğin kapısından girerler. İşkenceye uğramamak için. hadi yaşayalım
                                    İşkenceciye işkence yapmaktan şüphe edin. Bir evin ve bir arka bahçenin olması önemlidir
                                    aracın unsuru ama Tanrı'nın kalbi olsun. O zamana kadar ödevimi yapmam gerekiyor.
                                    İşkenceden şüpheleniliyor ve bu durum bir porttitor volutpat'a neden oluyor. Curabi arku dönemi,
                                    o katmanın finansmanı ve denizdeki feribot. Bu bilge bir kitle, bir vadi
                                    istemediğiniz sürece çocuklar bile. Ev ve bahçe araçtan daha önemli olmalı
                                    Ama önemli bir unsur olsun. Önce hastanenin ağzında yas tuttu
                                    ve basketbolu Care'in yataklarına koymak; Beğense de beğenmese de yazarın bir tür sorunu var
                                    ya da ullamcorper çok eğlenceli olmalı. İşkenceye uğramamak için.
                                </p>
                                <p>
                                    Bilge kitledir, vadi çocuklardan bile değildir, sadece zaruridir. Hoş geldin
                                    Acının kendisi önemlidir ve bunu danışanın eğitimi izleyecektir. Maurice kamyonları övüyor
                                    elit, eget tincidunt nibh pulvinar a. Yarın küçük ama büyük bir şey söylendi
                                    geçit Yarın kapının küçük ama büyük olacağı söylendi. Ama havayolu yatağı
                                    seviye Mauris elitlerin gururunu okşuyor, tincidunt nibh pulvinar a'ya ihtiyacı var.
                                    Bina ve avlu araç unsurundan daha önemlidir ancak sahibi için önemlidir. Ancak
                                    hava taşımacılığı Üretim ve arka bahçe araç unsurundan daha önemli olmalı
                                    ama bu Tanrı'nın bir işi olsun. Kocaman bir gülümsemeye ihtiyacı var.
                                </p>
                            </div>
                        </div>
                        <div class="tab-pane" id="tabs-3" role="tabpanel">
                            <div class="product__details__tab__desc">
                                <h6>Ürün Bilgileri</h6>
                                <p>
                                    Bina ve arka bahçe araç unsurundan daha önemlidir ancak sahibi için önemlidir.
                                    Çocuklar kliniğin kapısından girerler. İşkenceye uğramamak için. hadi yaşayalım
                                    İşkenceciye işkence yapmaktan şüphe edin. Bir evin ve bir arka bahçenin olması önemlidir
                                    aracın unsuru ama Tanrı'nın kalbi olsun. O zamana kadar ödevimi yapmam gerekiyor.
                                    İşkenceden şüpheleniliyor ve bu durum bir porttitor volutpat'a neden oluyor. Curabi arku dönemi,
                                    o katmanın finansmanı ve denizdeki feribot. Bu bilge bir kitle, bir vadi
                                    istemediğiniz sürece çocuklar bile. Ev ve bahçe araçtan daha önemli olmalı
                                    Ama önemli bir unsur olsun. Önce hastanenin ağzında yas tuttu
                                    ve basketbolu Care'in yataklarına koymak; Beğense de beğenmese de yazarın bir tür sorunu var
                                    ya da ullamcorper çok eğlenceli olmalı. İşkenceye uğramamak için.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="related-product">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title related__product__title">
                    <h2>İlgili Ürünler</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="product__item">
                    <div class="product__item__pic set-bg">
                        <img src="~/ogani-master/img/product/product-1.jpg" alt="">
                        <ul class="product__item__pic__hover">
                            <li><a href="#"><i class="fa fa-heart"></i></a></li>
                            <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                            <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="#">Crab Pool Security</a></h6>
                        <h5>$30.00</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="product__item">
                    <div class="product__item__pic set-bg">
                        <img src="~/ogani-master/img/product/product-2.jpg" alt="">
                        <ul class="product__item__pic__hover">
                            <li><a href="#"><i class="fa fa-heart"></i></a></li>
                            <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                            <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="#">Crab Pool Security</a></h6>
                        <h5>$30.00</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="product__item">
                    <div class="product__item__pic set-bg">
                        <img src="~/ogani-master/img/product/product-3.jpg" alt="">
                        <ul class="product__item__pic__hover">
                            <li><a href="#"><i class="fa fa-heart"></i></a></li>
                            <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                            <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="#">Crab Pool Security</a></h6>
                        <h5>$30.00</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="product__item">
                    <div class="product__item__pic set-bg">
                        <img src="~/ogani-master/img/product/product-7.jpg" alt="">
                        <ul class="product__item__pic__hover">
                            <li><a href="#"><i class="fa fa-heart"></i></a></li>
                            <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                            <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="#">Crab Pool Security</a></h6>
                        <h5>$30.00</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

