@using Gat.Core.Entity
@model List<Job>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<section class="product spad" style="padding:0;">
    <div class="container">
        <div class="row" style="justify-content: center;">
            <div class="col-lg-9 col-md-7">
                    <div class="filter__item">
                        <div class="row">

                            <div class="col-lg-4 col-md-4">
                                <div class="filter__found">
                                    <h6><span>@ViewBag.JobCount</span> Adet İş İlanı Bulundu</h6>
                                </div>
                            </div>

                        </div>
                    </div>
                <div class="row" >
                    @foreach (var item in Model)
                    {
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" style="height:125px;">
                                   @* <img src="~/ogani-master/img/product/product-1.jpg" alt="">*@
                                    <img src="@item.JobImage" alt="" />
                                   @* <ul class="product__item__pic__hover">
                                        <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                        <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                        <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                    </ul>*@
                                </div>
                                <div class="product__item__text">
                                    <h6><a href="/Job/JobDetails/@item.Id">@item.Title</a></h6>
                                    @*<h5>$30.00</h5>*@
                                </div>
                            </div>
                        </div>
                    }
                    </div>

                </div>           
            
        </div>
    </div>
</section>

